body{
    background-color:bisque;
}
.container{
    background-color: white;
    height: 100%;
    width: auto;
    margin: 0% 30%;
    padding: 20px 20px 0;
    border-radius: 1%;
}  
    
   
img{
    height: 300px;
    width: 100%;
    border-radius: 2%;
}
*{
    margin: 0%;
    
}
.section1 h2{
    color: rgb(100, 10, 10);
    font-family: Georgia, cursive;
    
}
li strong{
    color: rgb(126, 54, 54);
}
.purple{
    color: rgb(111, 52, 165);
    font-size: 20px;
    padding-left: 25px;

}
#diff{
    background-color: rgb(248, 245, 248);
}
#okk{
    align-items: start;
}
li{
    padding-left: 12px;
}
.uniq{
    margin-left: 10px;
}

